/* header */

.line {
    width: 30px;
    height: 5px;
    background: #000;
    margin: 5px 0;
    -webkit-border-radius: 25%;
       -moz-border-radius: 25%;
            border-radius: 25%;
}

.lineX1 {
    -webkit-transform: rotateZ(45deg) translateY(5px) translateX(2px) scaleX(1.2) scaleY(1.1);
       -moz-transform: rotateZ(45deg) translateY(5px) translateX(2px) scaleX(1.2) scaleY(1.1);
        -ms-transform: rotate(45deg) translateY(5px) translateX(2px) scaleX(1.2) scaleY(1.1);
         -o-transform: rotateZ(45deg) translateY(5px) translateX(2px) scaleX(1.2) scaleY(1.1);
            transform: rotateZ(45deg) translateY(5px) translateX(2px) scaleX(1.2) scaleY(1.1);
}

.lineX2 {
    -webkit-transform: rotateZ(-45deg) translateY(-5px) translateX(2px) scaleX(1.2) scaleY(1.1);
       -moz-transform: rotateZ(-45deg) translateY(-5px) translateX(2px) scaleX(1.2) scaleY(1.1);
        -ms-transform: rotate(-45deg) translateY(-5px) translateX(2px) scaleX(1.2) scaleY(1.1);
         -o-transform: rotateZ(-45deg) translateY(-5px) translateX(2px) scaleX(1.2) scaleY(1.1);
            transform: rotateZ(-45deg) translateY(-5px) translateX(2px) scaleX(1.2) scaleY(1.1);
}

h1 {
    text-align: center;
}

nav {
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    top: -200vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 30px 0 0 30px;
    transition: all 0.7s cubic-bezier(0.26, -0.5, 0.18, 1.29);
}

nav.toggled {
    top: 0;
}

.X {
    position: fixed;
    display: none;
    z-index: 99999;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}

.X.toggled {
    display: block;
}

.B {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container {
    cursor: pointer;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #f00;
}

.insideLink {
    display: list-item;
    list-style: disc;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.insideLink::marker {
    color: #000;
}



/* footer */
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}

footer {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 10vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
    background-color: #f3f3f3;
}